<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

  <div id="tasks">
    <ul>
      <%= render @user_tasks %>
    </ul>
  </div>


<br>

<%= link_to  new_user_task_path, remote: true do %>
<buttton class="btn btn-success"> <%= fa_icon "plus" %></btn>
<% end %>

<div id="task-form"></div>
